*{
    margin: auto;
}


.was-validated{
    padding: 30px;
    display: grid;
    background-color: hsl(255, 30%, 30%);
    border-radius: 40px;

}

.form-inline{
    border-radius: 20px;
    border-color: yellow;

}